img{
    height: 20px;
    width: auto;
    background-color: ivory;
}

footer {
    width: 100%;
    position: fixed;
    border-top: 2px solid floralwhite;
    background-color: gold;
    left: 0;
    bottom: 0;
    height: 50px;
    padding: 0px;
}

body {
    background-image: url("../images/background.jpg");
    background-size: 375px 812px;
    /* background-size: 100vw 100vw; */
    background-repeat: no-repeat;
}

tr.header th, #thirstyBtn, .inactiveNav {
    background-color: black;
    color: goldenrod;
}

.row {
    padding: 0px;
}

.jumbotron {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0px;
    background: none;
}

#results, #breweryHistory, #eventHistory {
    max-height: 300px;
    background: rgba(255, 255, 255, 0.7);
    padding: 0px;
}

#selection { 
    margin-bottom: 52px; /* needs to be the same height as the footer */
}

#breweryInfo {
    background: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    margin-left: 15px;
    margin-right: -15px;
    padding: 2px;
}

/* #searchTBody, */
 #breweryInfo {
    display: none;
}

#searchTab, #historyTab, #notesTab, #settingsTab {
    width: 25%;
    height: 50px;    
}

.activeNav {
    background-color: goldenrod;
    color: black;
}

i {
    font-size: 35px;
}

#map, #params {
    padding-left: 5px;
    padding-right: 5px;
}

#map {
    width: 100%;
    padding-top: 75%;
}

#top {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    color: goldenrod;
    text-shadow: 2px 2px black;
}

#subtitle {
    font-family: 'Lobster', cursive;
}

#params, #results, h4 {
    font-size: 10px;
}

.col {
    padding-right: 5px;
    padding-left: 5px;
}