
/* div{
    min-height: 50px;
    background-color: ivory;
    margin: 0px;
    padding: 0px;
} */

img{
    height: 20px;
    width: auto;
    background-color: ivory;
}

footer {
    width: 100%;
    position: fixed;
    border-top: 2px solid floralwhite;
    background-color: gold;
    left: 0;
    bottom: 0;
    height: 30px;
    padding: 0px;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

/* table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
}

th, td {
    padding: 0.25rem;
} */

tr.header th {
    background-color: black;
    color: goldenrod;
}

.table-fixed tbody {
    /* height: 300px; */
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

    /* &::after {
        content: '';
        clear: both;
        display: block;
    } */
}

/* th {
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
} */

.row {
    padding: 20px;
}

.jumbotron {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0px;
    background: none;
}

#results, #breweryHistory, #eventHistory {
    max-height: 500px;
    background: rgba(255, 255, 255, 0.7);
    /* opacity: 0.7; */
    padding: 0px;
}
/* #params, #results, #selection {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
} */

#selection { 
    margin-bottom: 32px; /* needs to be the same height as the footer */
}

#top {

}

#breweryInfo {
    padding-left: 0px;
    padding-right: 10px;
}

#history, #beerNotes, #settings {
    width: 33.33%;
    height: 100%;
}


/* #map {
    height: 500px;
    width: 500px;
} */