div{
    min-height: 50px;
    background-color: ivory;
}

footer {
    width: 100%;
    position: fixed;
    border-top: 2px solid floralwhite;
    background-color: gold;
    left: 0;
    bottom: 0;
    height: 30px;
    padding: 0px;
}

body {
    background-color: gold;
}

.row {
    padding: 0px;
}

#selection {
    margin-bottom: 32px; /* needs to be the same height as the footer */
}

#history, #beerNotes, #settings {
    width: 33.33%;
    height: 100%;
}